.btn{
	margin-right:20px;
}

h1{
	font-size:1.2em;
}

div.intro{
	margin-left:40px;
    margin-top: 30px;
    margin-right:40px;
}

div.q{
	margin-left:40px;
    margin-top: 30px;
    margin-right:40px;

}

