.btn{
	margin-right:20px;
}

h1{
	font-size:1.2em;
}

div.intro{
	margin-left:40px;
    margin-top: 30px;
    margin-right:40px;
}

div.q{
	margin-left:40px;
    margin-top: 30px;
    margin-right:40px;

}

div.note{
	font-size:0.5em;
	text-align: center;
	margin-left:40px;
	margin-right:40px;
	margin-top:20px;
}


@media (min-width:700px){
	div.intro {
		padding-left:100px;
	}

	div.q{
		padding-left:100px;
	}

	div.note{
		margin-left:100px;
		margin-right:100px;
	}
}

@media (min-width:900px){
	div.intro {
		padding-left:300px;
	}
	div.q{
		padding-left:300px;
	}
}


@media (min-width:1200px) {
	div.intro {
		padding-left: 500px;
	}
	div.q {
		padding-left: 500px;
	}
}

